# Notebook kernel
ipykernel

# Data handling / EDA
numpy
pandas
matplotlib
opencv-python
pyyaml
tqdm

# Dataset download / extraction / reading
py7zr
gdown
rosbags

# 3D model loading / visualization
trimesh
fast-simplification
scipy
plotly
nbformat
